@keyframes appear {
  from { height: 0px; padding: 0 30px; }
  to   { height: 400px; padding: 30px; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color:#fff;
}

#main h1 {
  margin: 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.82);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 35px;
  line-height: 28px;
}

.logo-title {
  color: #fff;
  margin: 0;
  width: 150px;
  font-size: 25px;
}

.logo-second-title {
  margin: 0;
  color: #07A4F5;
  font-size: 25px;
  text-transform: uppercase;
}

.nav-link-container {
  margin: 0 35px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid #979797;
  border-radius: 10px;
}

.signup-link {
  background-color: #E54F92;
  border: none;
}

.nav-link:hover {
  background-color: #e399ba;
  border-color: #e399ba;
}

.nav-link:visited {
  color: #fff;
}

.toggle-link {

  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(45, 45, 45);
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
}

.toggle-link:hover {
  background-color: #07A4F5;
  border-color: #07A4F5;
  color: #fff;
}

.movie-list-container {
  background-color: #e6e6e6;
  width: 100%;
  overflow: hidden;
}

.movie-list {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  width: 100%;
  /*grid-template-rows: auto;*/
  /*padding: 10px 0 0;*/
}

/*****MOVIE CARD*****/

.movie-card {
  height: 400px;
  margin: 10px 0;
  position: relative;
}

/*.movie-card > *{

}*/
.sub-card {
  margin: 0 auto;
  width: 85%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
}

.sub-card:hover {
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
  /*filter: blur(3px) brightness(40%);*/
  z-index: 1;
}

.save-btn {
  position:absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70px;
  text-align: center;
  background-color: #E54F92;
  border-radius: 10px;
  border: none;
  opacity: 0.7;
}

.movie-card-info {
  position: absolute;
  top: 5%;
  left: 23%;
  margin-left: -40px;
  width: 80%;
  /*height: 100%;*/
  color: transparent;
  font-size: 80%;
}


.movie-card-info:hover {
  color: #fff;
}

.bg-blur >*:not(#login):not(.header) {
  filter: blur(7px);
  position: relative;
}

.bg-blur::after {
  background-color: rgba(0,0,0,0.5);
  display: block;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}



.close-modal {
  position: absolute;
  top: 0;
  right: 5px;
}

#login {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px;
  overflow: hidden;
  animation: appear 0.2s linear;
}

.popup-input-wrapper {
  width: 100%;
}

.login-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0 0;
  height: 280px;
}

.popup-title {
  color: #8fbcfb;
  font-weight: 400;
  text-transform: capitalize;
}

.popup-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 20px;
  font-weight: lighter;
  margin: 20px 0;
}

.popup-input:focus {
  outline: none;
  border-bottom: 2px solid #8fbcfb;
}

.popup-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bdbdbd;
  font-weight: lighter;
}
.popup-input::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
  font-weight: lighter;
}
.popup-input:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
  font-weight: lighter;
}
.popup-input:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
  font-weight: lighter;
}

.popup-login-btn {
  background-color: #8fbcfb;
  border: none;
  border-radius: 10px;
  text-transform: lowercase;
  width: 100px;
  color: #fff;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: lighter;
  align-self: flex-end;
  margin: 20px 0;
}

.popup-login-btn:hover {
  background-color: #b3d0f7;
}

.popup-login-btn:focus {
  outline: none;
}

.disabled-btn {
  background-color: #bdbdbd;
}

.disabled-btn:hover {
  background-color: #bdbdbd;
}

.login-error-msg {
 color: #ef8a82;
 font-size: 12px;
 margin: 0;
}

.login-error .popup-login-btn {
  background-color:  #ef8a82;
}

.login-error .popup-login-btn:hover {
  background-color:  #e7aaa5;
}

.login-error .popup-input:focus {
  outline: none;
  border-bottom: 2px solid #ef8a82;
}

.login-error .popup-title {
  color: #ef8a82;
}

.detail-cover {
  background-color: #e6e6e6;

}

.detail {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  height: calc(100vh - 80px);
  padding: 20px;
  position: relative;
}

.detail-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-column-gap: 20px;
  justify-content: center;
  overflow-y: scroll;
}

.detail-poster {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.detail-poster,
.detail-container {
  padding: 5%;
}

.detail-title {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows:
}

.detail-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.detail-cast-img {
  height: 80px;
}

.detail-cast-img.default {
  width: 53.33px;
}

.carousel {
  display: grid;
  grid-template: 100% / 3fr 2fr;
  height: 350px;
  background-color: black;
  overflow: hidden;
}

.carousel-info-wrapper {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
  background-color: #000;
  color: #FFF;
}

.carousel-title {
  padding: 10px 20px;
  font-weight: lighter;
}

.carousel-overview {
  height: 200px;
  padding: 0 20px;
  font-weight: lighter;
  line-height: 25px;
  overflow: scroll;
}

.backdrop-poster {
  display: grid;
  justify-content: center;
  grid-template: 1fr 20px 20px / 30px 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: black;
}

.poster-selector {
  grid-row-start: 2;
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.poster-selector:focus {
  outline: none;
}

.selector-active {
  background-color: #FFF;
}

@keyframes carouselInfo {
  from { transform: translateX(100%); opacity: 0 }
  to { transform: translateX(0); opacity: 1 }

}

.carousel-anim .carousel-info-wrapper {
  animation: carouselInfo 0.5s cubic-bezier(.32,.12,.33,1.25);
}

.carousel-anim .backdrop-poster {
  animation: carouselInfo 0.5s cubic-bezier(.32,.12,.33,1.25);
}

.header {
  margin: 75px 0 0 0;
}

/****MEDIA QUERIES****/


@media screen and (max-width: 450px) {
 .nav-link-container {
   margin: 0 15px 0 0;
 }

 .nav-link {
   padding: 5px 17px;
   margin: 0 5px;
 }

  .logo {
    margin: 0 20px;
  }

  .movie-list {
    height: 500px;
    grid-template-columns: 1fr;
    overflow: scroll;
  }
}

@media screen and (min-width: 450px) and (max-width: 750px) {
  .movie-list {
    height: 500px;
    grid-template-columns:  1fr 1fr;
    overflow: scroll;
  }
}
@media screen and (min-width: 750px) and (max-width: 950px) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

.carousel-hidden {
  display: none;
}
